@model Coder.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "Details";

    var enumList = new List<SelectListItem>();
    foreach (var value in Enum.GetValues(typeof(Coder.Models.Entity.CoderRole)))
    {
        enumList.Add(new SelectListItem
        {
            Text = value.ToString(),
            Value = ((int)value).ToString()
        });
    }
}

<h2>Details</h2>

<dd>
    <h4>User - @Model.CurrentUser.Email</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentUser.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentUser.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentUser.UserCourses)
        </dt>
        <dd>
            <table>
                <thead>
                    <tr>
                        <td>Course</td>
                        <td>Role</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.CurrentUser.UserCourses.Count(); i++)
                    {
                        enumList.ForEach(x => x.Selected = (x.Value == ((int)Model.CurrentUser.UserCourses.ElementAt(i).CoderRole).ToString()));
                        <tr>
                            <td>@Model.Courses.ElementAt(i).Title</td>
                            <td>@Html.DropDownList("courseRole", enumList, "---")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CurrentUser.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
