@model Coder.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User - @Model.CurrentUser.Email</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentUser.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentUser.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentUser.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentUser.PhoneNumber)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CurrentUser.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
