@model Coder.Models.ViewModels.UserViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";

    var enumList = new List<SelectListItem>();
    foreach (var value in Enum.GetValues(typeof(Coder.Models.Entity.CoderRole)))
    {
        enumList.Add(new SelectListItem
        {
            Text = value.ToString(),
            Value = ((int)value).ToString()
        });
    }
}

@section heading {
    <h1>@Model.Name</h1>
}


<div class="whiteBox">


    @if (User.IsInRole("Administrator") || User.Identity.GetUserId() == Model.UserId)
            {
        <a class="btn btn-default" href=@Url.Action("Edit", "Users", new { id = Model.UserId })><i class="fa fa-pencil"></i>Edit user</a>
    }

    @if (User.IsInRole("Administrator"))
            {
        <a class="btn btn-default" href=@Url.Action("Delete", "Users", new { id = Model.UserId })><i class="fa fa-trash"></i>Delete user</a>
    }

    <h4><b>Email: &nbsp; </b> @Model.Email</h4>

</div>

<div class="title-box">
    <div class="title-box-title">
        <h3>Enrollments</h3>
    </div>
    <div class="title-box-content">
        <table class="coder-table coder-datatable">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userCourse in Model.UserCourses)
                {
                    enumList.ForEach(x => x.Selected = Model.UserCourses.Any(j => j.CourseId == userCourse.CourseId) &&
                    (int.Parse(x.Value) == ((int)Model.UserCourses.FirstOrDefault(j => j.CourseId == userCourse.CourseId).CoderRole)));
                    <tr>
                        <td>@Html.ActionLink(userCourse.Course.Title, "Details", "Courses", new { id = userCourse.CourseId }, null)</td>
                        <td>@userCourse.CoderRole</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="title-box">
    <div class="title-box-title">
        <h3>Recent submissions</h3>
    </div>
    <div class="title-box-content">
        <table class="order-column stripe coder-table coder-datatable" id="submissionTable">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Task</th>
                    <th>Submitted</th>
                    <th>Project</th>
                    <th>Course</th>
                    <th>Status</th>
                    <th>Users</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Submissions)
            {
                    <tr>
                        <td>@Html.ActionLink(item.Id.ToString(), "Details", "Submissions", new { id = item.Id }, null)</td>
                        <td>@Html.ActionLink(item.ProjectTask.Name, "Details", "ProjectTasks", new { id = item.ProjectTaskId }, null)</td>
                        <td>@Html.DisplayFor(modelItem => item.Created)</td>
                        <td>@Html.ActionLink(item.ProjectTask.Project.Name, "Details", "Projects", new { id = item.ProjectTask.ProjectId }, null)</td>
                        <td>@Html.ActionLink(item.ProjectTask.Project.Course.Name, "Details", "Courses", new { id = item.ProjectTask.Project.CourseId }, null)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td data-toggle="modal" data-id="@item.Id" data-target="#bs-example-modal-sm_@item.Id"><p class="btn btn-primary users-button">@item.ApplicationUsers.Count</p></td>
                        <td>
                            @if (User.IsInRole("Administrator") || ViewBag.IsTeacher == true)
                            {
                                <a href=@Url.Action("Delete", "Submissions", new { id = item.Id })><i class="fa fa-pencil"></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@foreach (var item in Model.Submissions)
{
    <div class="modal fade" id="bs-example-modal-sm_@item.Id" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Users in this submission</h4>
                </div>
                <div class="modal-body">
                    <table class="coder-table submissions-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in item.ApplicationUsers)
                            {
                                <tr>
                                    <td>@Html.ActionLink(user.Name, "Details", "Users", new { Id = user.Id }, null)</td>
                                    <td>@Html.ActionLink(user.Email, "Details", "Users", new { Id = user.Id }, null)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}