@model Coder.Models.ViewModels.UserViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";

    var enumList = new List<SelectListItem>();
    foreach (var value in Enum.GetValues(typeof(Coder.Models.Entity.CoderRole)))
    {
        enumList.Add(new SelectListItem
        {
            Text = value.ToString(),
            Value = ((int)value).ToString()
        });
    }
}

<div class="col-md-8">

    <div class="projectBox fluid">
        <h1>User Details</h1>

        @if (User.IsInRole("Administrator") || User.Identity.GetUserId() == Model.UserId )
        {
            <a href=@Url.Action("Edit", "Users", new { id = Model.UserId })><i class="fa fa-pencil"></i></a>
        }


        @if (User.IsInRole("Administrator"))
        {
            <a href=@Url.Action("Delete", "Users", new { id = Model.UserId })><i class="fa fa-trash"></i></a>
        }

        <dd>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
    </div>

    <div class="projectBox fluid">
        <table class="coder-table">
            <caption>Recent submissions</caption>
            <thead>
                <tr>
                    <th>Submission</th>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Status</th>
                </tr>
            </thead>
            <!--This body only contains dummy info for visuals-->
            <tbody>
                @foreach (var userCourse in Model.UserCourses)
            {
                enumList.ForEach(x => x.Selected = Model.UserCourses.Any(j => j.CourseId == userCourse.CourseId) &&
                                                       (int.Parse(x.Value) == ((int)Model.UserCourses.FirstOrDefault(j => j.CourseId == userCourse.CourseId).CoderRole)));
                    <tr>
                        <td>@userCourse.Course.Title</td>
                        <td>@userCourse.CoderRole</td>
                        <td>@userCourse.Course.Projects.Count</td>
                        <td>@userCourse.Course.Start.ToString("dddd, d MMMM yy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="userDetailsRightSide" class="col-md-4">
    <div class="projectBox fluid">
        <table class="table sidecoder-table">
            <caption>Enrollments</caption>
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userCourse in Model.UserCourses)
            {
                enumList.ForEach(x => x.Selected = Model.UserCourses.Any(j => j.CourseId == userCourse.CourseId) &&
                                                       (int.Parse(x.Value) == ((int)Model.UserCourses.FirstOrDefault(j => j.CourseId == userCourse.CourseId).CoderRole)));
                    <tr>
                        <td>@Html.ActionLink(userCourse.Course.Title, "Details", "Courses", new { id = userCourse.CourseId }, null)</td>
                        <td>@userCourse.CoderRole</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="projectBox fluid">
        <table class="table sidecoder-table">
            <caption>Comments</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>ProjectsSomething</td>
                    <td>C</td>
                    <td>21.06.2015</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>ProjectsSomething</td>
                    <td>C</td>
                    <td>21.06.2015</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>ProjectsSomething</td>
                    <td>C</td>
                    <td>21.06.2015</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>ProjectsSomething</td>
                    <td>C</td>
                    <td>21.06.2015</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>