@model IEnumerable<Coder.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}


@section heading {
    <h1>Users</h1>
}

@section breadcrumbs {
    <ul>
        <li>@Html.ActionLink("Coder", "Index", "Home")</li>
        <li>@Html.ActionLink("Users", "Index", "Users")</li>
    </ul>
}

<div class="whiteBox">
    @if (User.IsInRole("Administrator"))
    {
        <a class="btn btn-default" href=@Url.Action("Create", "Users")><i class="fa fa-edit"></i>Create a new user</a>
        <a class="btn btn-default" data-toggle="modal" data-target=".import-from-excel"><i class="fa fa-file-excel-o"></i>Import from Excel/CSV</a>
    }
    <table class="order-column stripe coder-table coder-datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr> 
                <td>
                    @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                        <a href=@Url.Action("Edit", "Users", new { id = item.Id })><i class="fa fa-pencil"></i></a>
                        <a href=@Url.Action("Delete", "Users", new { id = item.Id })><i class="fa fa-trash"></i></a>
                </td>

            </tr>
        }

    </table>
</div>

<div class="modal fade import-from-excel" tabindex="-1" role="dialog" aria-labelledby="Import from Excel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="under-construction">
                <i class="fa fa-keyboard-o under-construction-icon"></i>
                <div class="under-construction-title"><span>Coming soon!</span>Go watch a movie. Perhabs one starring Chuck Norris?</div>
            </div>
        </div>
    </div>
</div>
