@model Coder.Models.ViewModels.ProjectDetailsViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = @Html.Raw(Model.Project.Name); ;
}

@section heading {
    <h1>@Model.Project.Name</h1>
}

@section breadcrumbs {
    <ul>
        <li>@Html.ActionLink("Coder", "Index", "Home")</li>
        <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
        <li>@Html.ActionLink(Model.Project.Course.Name, "Details", "Courses", new { Id = Model.Project.Course.Id }, null)</li>
        <li>@Html.ActionLink(Model.Project.Name, "Details", "Projects", new { Id = Model.Project.Id }, null)</li>
    </ul>
}

<div class="whiteBox">
    @if (User.IsInRole("Administrator") || ViewBag.IsTeacher == true)
    {
        <a class="btn btn-default" href=@Url.Action("Edit", "Projects", new { id = Model.Project.Id })><i class="fa fa-pencil"></i>Edit project</a>
        <a class="btn btn-default" href=@Url.Action("Delete", "Projects", new { id = Model.Project.Id })><i class="fa fa-trash"></i>Delete project</a>
    }

    <dl class="coder-dl">
        <dt>Course:</dt>
        <dd>@Html.ActionLink(Model.Project.Course.Name, "Details", "Courses", new { id = Model.Project.Course.Id }, null)</dd>

        <dt>@Html.DisplayNameFor(model => Model.Project.Start):</dt>
        <dd>@Model.Project.Start.ToString("dddd, d MMM HH:mm")</dd>

        <dt>@Html.DisplayNameFor(model => Model.Project.End):</dt>
        <dd>@Model.Project.End.ToString("dddd, d MMM HH:mm")</dd>

        <dt>Tasks:</dt>
        <dd>@Html.DisplayFor(model => Model.Project.ProjectTasks.Count)</dd>

        <dt>Percentage of final grade:</dt>
        <dd>@Html.DisplayFor(model => Model.Project.Value) %</dd>

        <dt>Grade</dt>
        <dd>@ViewBag.Grade</dd>
    </dl>

    <div>
        @Html.Raw(Model.Project.Description)
    </div>

    
</div>

<div class="title-box">
    <div class="title-box-title">
        <h3>Tasks</h3>
    </div>
    <div class="title-box-content">
        @if (User.IsInRole("Administrator") || ViewBag.IsTeacher == true)
        {
            <a class="btn btn-default" href=@Url.Action("Create", "ProjectTasks")><i class="fa fa-edit"></i>Create a new task</a>
        }

        <table class="coder-table coder-datatable">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>@Html.DisplayNameFor(model => Model.Project.Value)</th>
                    <th>Status</th>
                    <th>Grade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tasks)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Task.Name, "Details", "ProjectTasks", new { id = item.Task.Id }, null)</td>
                        <td>@Html.DisplayFor(modelItem => item.Task.Value)</td>
                        <td>
                            @if (item.BestSubmission != null)
                            {
                                <span>@item.BestSubmission.Status</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td>
                            @{ var gradeProjectTask = item.Task.GradeProjectTasks.Where(g => g.UserId == User.Identity.GetUserId()).FirstOrDefault(); }
                            @if (gradeProjectTask != null)
                            {
                                <span>@gradeProjectTask.Grade</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td>
                            @if (User.IsInRole("Administrator") || ViewBag.IsTeacher == true)
                            {
                                <a href=@Url.Action("Edit", "ProjectTasks", new { id = item.Task.Id })><i class="fa fa-pencil"></i></a>
                                <a href=@Url.Action("Delete", "ProjectTasks", new { id = item.Task.Id })><i class="fa fa-trash"></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>