@model IEnumerable<Coder.Models.Entity.Project>

@{
    ViewBag.Title = "Index";
}


<div class="projects">
    <!--
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    -->


    <div class="allProjects col-lg-7">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details", "Projects", new { id=item.Id })">
                <div class="projectBox col-md-3">
                    <p class="name">@item.Name</p>
                    <span class="course">@item.Course.Title</span>

                    <div class="proContainer">
                        <div class="c100 center p60 small orange">
                            <span id="proText">60%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>

                    <p class="value">Value: @item.Value %</p>

                    <div class="date">
                        <p class="col-lg-6 start">Start: @item.Start</p>
                        <p class="col-lg-6 end">End: @item.End</p>
                    </div>
                    <!--
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    -->
                </div>
           </a>
        }
    </div>


    <div class="sideTable col-lg-5">
        <table class="table coderTable">
            <caption>Previous projects</caption>
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Course</th>
                    <th>Grade</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Proj1</td>
                    <td>T107-GSKI</td>
                    <td>Accepted</td>
                </tr>
                <tr>
                    <td>Proj1</td>
                    <td>T107-GSKI</td>
                    <td>Accepted</td>
                </tr>
                <tr>
                    <td>Proj1</td>
                    <td>T107-GSKI</td>
                    <td>Memory Error</td>
                </tr>
                <tr>
                    <td>Proj1</td>
                    <td>T107-GSKI</td>
                    <td>Memory Error</td>
                </tr>
                <tr>
                    <td>Proj1</td>
                    <td>T107-GSKI</td>
                    <td>Memory Error</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="sideTable recentSubs col-lg-5">
        <table class="table coderTable">
            <caption>Recent submissions</caption>
            <thead>
                <tr>
                    <th>Submission</th>
                    <th>Task</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>#1</td>
                    <td>b</td>
                    <td>Accepted</td>
                </tr>
                <tr>
                    <td>#2</td>
                    <td>c</td>
                    <td>Accepted</td>
                </tr>
                <tr>
                    <td>#3</td>
                    <td>a</td>
                    <td>Accepted</td>
                </tr>
                <tr>
                    <td>#4</td>
                    <td>a</td>
                    <td>Memory Error</td>
                </tr>
                <tr>
                    <td>#21</td>
                    <td>d</td>
                    <td>Memory Error</td>
                </tr>
                <tr>
                    <td>#38</td>
                    <td>c</td>
                    <td>Compile Error</td>
                </tr>
                <tr>
                    <td>#465</td>
                    <td>a</td>
                    <td>Accepted</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>