@model IEnumerable<Coder.Models.Entity.Project>

@{
    ViewBag.Title = "Index";
}


<div class="projects">
    <h2>Projects</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>


    <div class="row">
        @foreach (var item in Model)
        {
            <div class="projectBox ">
                <p class="name">@item.Name</p>
                <span class="course">@item.Course.Name</span>

                <div class="proContainer">
                    <div class="c100 p60 green">
                        <span>60%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>

                <p class="value">Value: @item.Value %</p>
                <p class="date col-lg-6 start">Start: @item.Start</p>
                <p class="date col-lg-6 end">End: @item.End</p>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        }
        <div />
    </div>
</div>