@model IEnumerable<Coder.Models.Entity.Course>

@{
    ViewBag.Title = "Courses";
}

@section heading {
    <h1>Courses</h1>
    @if (User.IsInRole("Administrator"))
    {
        <a class="btn btn-default" href=@Url.Action("Create", "Projects")><i class="fa fa-edit"></i>Create a new course</a>
    }
    <a class="btn btn-default btn-changeview" href=@Url.Action("Index", "Courses")><i class="fa fa-table"></i>Table view</a>
}

<div id="courses">
    @foreach (var item in Model)
    {
        <div class="title-box">
            <div class="title-box-title">
                <h3>@item.Name - @item.Title</h3>
            </div>

            <div class="title-box-content">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>
                            @Html.ActionLink(item.Name, "Details", new { id = item.Id }) (@Html.DisplayFor(modelItem => item.Title))
                        </h3>
                        <p>@Html.Raw(item.Description)</p>
                    </div>

                    <div class="col-md-8">
                        <table class="coder-table">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Start date</th>
                                    <th>End date</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var x in item.Projects)
                                {
                                    <tr>
                                        <td>@Html.ActionLink(x.Name, "Details", "Projects", new { id = x.Id }, null)</td>
                                        <td>@x.Start.ToString("dddd, d MMM")</td>
                                        <td>@x.End.ToString("dddd, d MMM")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>