@model Coder.Models.Entity.Course

@{
    ViewBag.Title = @Html.Raw(Model.Name);
}

@section heading {
    <h1>@Model.Name</h1>
}

@section breadcrumbs {
    <ul>
        <li>@Html.ActionLink("Coder", "Index", "Home")</li>
        <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
        <li>@Html.ActionLink(Model.Name, "Details", "Courses", new { Id = Model.Id }, null)</li>
    </ul>
}

<div class="whiteBox box">
    @if (User.IsInRole("Administrator") || ViewBag.IsTeacher == true)
    {
        <a class="btn btn-default" href=@Url.Action("Edit", "Courses", new { id = Model.Id })><i class="fa fa-pencil"></i>Edit course</a>
        <a class="btn btn-default" href=@Url.Action("Delete", "Courses", new { id = Model.Id })><i class="fa fa-trash"></i>Delete course</a>
    }

    <a class="btn btn-default" data-toggle="modal" data-target=".course-users-list"><i class="fa fa-list"></i>Student list</a>

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>Title</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>

        <dt>Start date</dt>
        <dd>@Html.DisplayFor(model => model.Start)</dd>

        <dt>End date</dt>
        <dd>@Html.DisplayFor(model => model.End)</dd>

        @if (Model.UserCourses.Any(i => i.CoderRole == Coder.Models.Entity.CoderRole.Teacher))
        {
            <dt>Teachers</dt>
            <dd>
                <ul class="user-list">
                @foreach (var teacher in Model.UserCourses.Where(i => i.CoderRole == Coder.Models.Entity.CoderRole.Teacher))
                {
                    <li>@teacher.ApplicationUser.Name</li>
                }
                </ul>
            </dd>
        }
        @if (Model.UserCourses.Any(i => i.CoderRole == Coder.Models.Entity.CoderRole.TeachingAssistant))
        {
            <dt>Teaching Assistants</dt>
            <dd>
                <ul class="user-list">
                @foreach (var ta in Model.UserCourses.Where(i => i.CoderRole == Coder.Models.Entity.CoderRole.TeachingAssistant))
                {
                    <li>@ta.ApplicationUser.Name</li>
                }
                </ul>
            </dd>
        }

    </dl>

    <div class="description-box">
         @Html.Raw(Model.Description)
    </div>
</div>

<div class="modal fade course-users-list" tabindex="-1" role="dialog" aria-labelledby="Users in course">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <table class="coder-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.UserCourses.Where(i => i.CoderRole == Coder.Models.Entity.CoderRole.Student))
                    {
                        <tr>
                            <td>@Html.ActionLink(user.ApplicationUser.Name, "Details", "Users", new { Id = user.ApplicationUser.Id }, null)</td>
                            <td>@Html.ActionLink(user.ApplicationUser.Email, "Details", "Users", new { Id = user.ApplicationUser.Id }, null)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="title-box">
    <div class="title-box-title">
        <h3>Projects</h3>
    </div>
    <div class="title-box-content">
        <table class="coder-table coder-datatable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Value</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model.Projects)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Details", "Projects", new { id = item.Id }, null)</td>
                    <td>@item.Value.ToString()</td>
                    <td>@item.Start.ToString("dddd, d MMMM yy") &nbsp @item.Start.ToString("HH:mm")</td>
                    <td>@item.End.ToString("dddd, d MMMM yy") &nbsp @item.End.ToString("HH:mm")</td>
                    <td>
                        @if (User.IsInRole("Administrator") || ViewBag.IsTeacher == true)
                        {
                            <a href=@Url.Action("Edit", "Projects", new { id = item.Id })><i class="fa fa-pencil"></i></a>
                        }

                        @if (User.IsInRole("Administrator"))
                        {
                            <a href=@Url.Action("Delete", "Projects", new { id = item.Id })><i class="fa fa-trash"></i></a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>