@model Coder.Models.Entity.Course

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name) + " Details";
}

<h2> @Html.DisplayFor(model => model.Name) ( @Html.DisplayFor(model => model.Title) )</h2>


<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

    </dl>

<div>
    <hr />
    <h3> @Html.DisplayNameFor(model => model.Description) </h3>

        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
</div>
<h3>Projects in this course</h3>
<div class="projects">
    @foreach (Coder.Models.Entity.Project p in ViewBag.projects)
    {
        <h4><a href="@Url.Action("Details", "Projects", new { id=p.Id })">@p.Name</a></h4>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
