@model Coder.Models.Entity.Course

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name) + " Details";
}


<div class="course-details">
<h2 id="UniqueValue"> @Html.DisplayFor(model => model.Name) ( @Html.DisplayFor(model => model.Title) )</h2>


<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
<div class="description-block">
    <hr />
    <h3> @Html.DisplayNameFor(model => model.Description) </h3>

        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
</div>
@*<h3>Projects in this course</h3>
<div class="projects">
    @foreach (Coder.Models.Entity.Project p in ViewBag.projects)
    {
        <h4><a href="@Url.Action("Details", "Projects", new { id=p.Id })">@p.Name</a></h4>
    }
</div>*@

@*The same code that is one the starting page, might need to do this differently - steinar*@

<div>
    </hr>
    <h3>Projects</h3>
    <div class="projectBox">
        @foreach (var item in Model.Projects)
        {
            if (item.Value < 50)
            {
                ViewBag.color = "red";
            }
            else if (item.Value >= 50 && item.Value < 100)
            {
                ViewBag.color = "orange";
            }
            else if (item.Value == 100)
            {
                ViewBag.color = "green";
            }

            if (@item.End < DateTime.Now)
            {
                ViewBag.ActiveProject = "oldBox";
            }

            //The percentage of circle colored.
            ViewBag.pvalue = "p" + @item.Value;

            //This is used to pass endDate data for countdown.
            <input class="TimeLeft" type="hidden" value="@item.End.ToString("MM.dd.yy H:mm:ss")" id="@item.Id" />

                <div class="col-md-4">
                    <a href="@Url.Action("Details", "Projects", new { id=item.Id })">
                        <div class="projectBox @ViewBag.ActiveProject">
                            <p class="name">@item.Name</p>
                            <span class="course">@item.Course.Title</span>

                            <div class="proContainer">
                                <div class="c100 center @ViewBag.pvalue small @ViewBag.color">
                                    <span id="proText">@item.Value%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="remaining">Time Remaining</div>
                            <div class="@item.Id our-clock"> <h2 style="zoom: 1.5">Ended:</h2><h2 style="zoom: 1.5">@item.End.ToShortDateString()</h2></div>
                        </div>
                    </a>
                </div>
        }
    </div>
</>

</div>
