@model Coder.Models.Entity.Course

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name) + " Details";
}

<div class="course-details">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <a href=@Url.Action("Edit", "Courses", new { id = Model.Id })><i class="fa fa-pencil"></i></a>
    
    <div class="details-box">
        <span class="text-caption">@Html.DisplayNameFor(model => model.Title)</span>
        <span class="text-value">@Html.DisplayFor(model => model.Title)</span>
    </div>
    
    <div class="details-box">
        <span class="text-caption">End date:</span>
        <span class="text-value">@Html.DisplayFor(model => model.End)</span>
    </div>

    <div class="details-box">
        <div class="description">
            @* Will most likely be more detailed HTML *@
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
</div>

<div>
    <table class="coderTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Value</th>
                <th>Start date</th>
                <th>End date</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Details", "Projects", new { id = item.Id }, null)</td>
                <td>@item.Value.ToString()</td>
                <td>@item.Start.ToString()</td>
                <td>@item.End.ToString()</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Projects", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Projects", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Projects", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>
