@model IEnumerable<Coder.Models.Entity.Course>

@{
    ViewBag.Title = "Courses";
}

<h1>Courses</h1>

<p>@Html.ActionLink("Create New", "Create")</p>

<div class="allCourses">
    @foreach (var item in Model)
    {
        <div class="courseBox">           
            <div class="col-lg-4">
                <h3>@Html.ActionLink(item.Name, "Details", new { id = item.Id }) (@Html.DisplayFor(modelItem => item.Title))</h3>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
            </div>
            <div class="col-lg-8">
                <table class="table coderTable">
                    <caption>Latest projects</caption>
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var x in item.Projects)
                        {
                            <tr>
                                <td>@x.Name</td>
                                <td>@Html.DisplayFor(modelItem => x.Start)</td>
                                <td>@Html.DisplayFor(modelItem => x.End)</td>                                
                            </tr>
                        }                       
                    </tbody>
                </table>
            </div>
            
        </div>
        <hr>
    }
    
</div>