@model IEnumerable<Coder.Models.Entity.Course>

@{
    ViewBag.Title = "Courses";
}

<h1>Courses</h1>

@if (User.IsInRole("Administrator"))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}

<div class="allCourses row">
    @foreach (var item in Model)
    {
        <div class="course-box clearfix">           
            <div class="col-md-4">
                <h3>@Html.ActionLink(item.Name, "Details", new { id = item.Id }) (@Html.DisplayFor(modelItem => item.Title))</h3>
                <p>@Html.Raw(item.Description)</p>
            </div>
            <div class="col-md-8">
                <table class="coder-table">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var x in item.Projects)
                        {
                            <tr>
                                <td>@Html.ActionLink(x.Name, "Details", "Projects", new { id = x.Id }, null)</td>
                                <td>@Html.DisplayFor(modelItem => x.Start)</td>
                                <td>@Html.DisplayFor(modelItem => x.End)</td>                                
                            </tr>
                        }                       
                    </tbody>
                </table>
            </div>
            
        </div>
    }
    
</div>