@model IEnumerable<Coder.Models.Entity.Course>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Courses";
}

@section heading {
    <h1>Courses</h1>
    <a class="btn btn-default btn-changeview" href=@Url.Action("Boxes", "Courses")><i class="fa fa-list"></i>List view</a>
}

@section breadcrumbs {
    <ul>
        <li>@Html.ActionLink("Coder", "Index", "Home")</li>
        <li>@Html.ActionLink("Courses", "Boxes", "Courses")</li>
    </ul>
}

<div class="whiteBox">
    @if (User.IsInRole("Administrator") || ViewBag.IsTeacher == true)
    {
        <a class="btn btn-default" href=@Url.Action("Create", "Courses")><i class="fa fa-edit"></i>Create a new course</a>
    }

    <table class="coder-table coder-datatable">
        <thead>
            <tr>
                <th>Course</th>
                <th>Title</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Total projects</th>
                <th>Total users</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            string courseOngoing = "";
            if (item.Start < DateTime.Now && item.End > DateTime.Now)
            {
                courseOngoing = "ongoing";
            }

            <tr class="@courseOngoing">
                <td>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</td>
                <td>@Html.ActionLink(item.Title, "Details", new { id = item.Id })</td>
                <td>@item.Start.ToString("dddd, d MMM")</td>
                <td>@item.End.ToString("dddd, d MMM")</td>
                <td>@item.Projects.Count</td>
                <td>@item.UserCourses.Count</td>
                <td>
                    @{
                        bool isTeacher = false;
                        if (!User.IsInRole("Administrator"))
                        {
                            isTeacher = item.UserCourses.FirstOrDefault(x => x.UserId == User.Identity.GetUserId()).CoderRole == Coder.Models.Entity.CoderRole.Teacher;
                        }

                        if (User.IsInRole("Administrator") || isTeacher)
                        {

                            <a href=@Url.Action("Edit", "Projects", new { id = item.Id })><i class="fa fa-pencil"></i></a>
                            <a href=@Url.Action("Delete", "Projects", new { id = item.Id })><i class="fa fa-trash"></i></a>

                        }
                    }
                </td>
            </tr>
                        }
    </table>
</div>