@model Coder.Models.Entity.ProjectTask

@{
    ViewBag.Title = "Details";
}

<style type="text/css">
    #dropZone {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>

<div class="container">
    <div class="projectBox col-lg-12 clearfix">
        <div class="small left col-lg-6">
            <h1 id="projectName">@Model.Name (@Html.DisplayFor(model => model.Value)%)</h1>
            @if (User.IsInRole("Administrator") || ViewBag.IsTeacher == true)
            {
                <a href=@Url.Action("Edit", "ProjectTasks", new { id = Model.Id })><i class="fa fa-pencil"></i></a>
            }
            <span id="taskName">@Html.ActionLink(@Model.Project.Course.Name, "Details", "Courses", new { id = Model.Project.Course.Id }, null) - @Html.ActionLink(@Model.Project.Name, "Details", "Projects", new { id = Model.Project.Id }, null)</span>
        </div>
        <div class="small right col-lg-6">
            <h1 id="bestSub">Best Submission<i class="fa fa-check-square" aria-hidden="true"></i></h1>
        </div>
        <div class="small otherTasks">
            @foreach (var item in Model.Project.ProjectTasks)
            {
                <p>
                    @Html.ActionLink(item.Name, "Details", "ProjectTasks", new { id = item.Id }, null)
                    (@Html.DisplayFor(modelItem => item.Value)%)
                    <br>
                </p>
            }
        </div>
    </div>

    <div id="tests">
        @{ int counter = 1; }
        @foreach (var test in Model.TaskTests)
        {
            <div class="test clearfix">
                <h3>Test @counter</h3>
                <div class="tests-wrap row">
                    <div class="input-wrap col-sm-6">
                        <p>Input</p>
                        <div class="editor input readonly">@test.Input</div>
                    </div>
                    <div class="output-wrap col-sm-6">
                        <p>Output</p>
                        <div class="editor output readonly">@test.Output</div>
                    </div>
                </div>
            </div>
            counter = counter + 1;
        }
    </div>

    <div class="projectBox col-lg-12">
        <div class="small left col-lg-6">
            <h1>Hand in</h1>
            <p>@User.Identity.Name</p>
        </div>
    </div>

    <div class="projectBox col-lg-12">
        <table class="coder-table">
            <caption>Submissions</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Users</th>
                    <th>Status</th>
                    <th>More info</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>3</td>
                    <td>Nonni & Bibbi</td>
                    <td>Accepted</td>
                    <td><i class="glyphicon glyphicon-plus"></i></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="jumbotron">
        <h2>Upload files</h2>
        <p></p>
        @{ 
            string actionURL = "/ProjectTasks/SaveUploadedFile?Id=" + Model.Id;
        }
        <form action="@actionURL" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>

    <div class="projectBox col-lg-12">
        <h3>Comments</h3>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/ace/ace.js");
}