@model Coder.Models.Entity.ProjectTask

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Name</h1>
@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
<p>@Model.Project.Name - @Model.Project.Course.Name</p>

<div>
    @Html.DisplayFor(model => model.Description)
    @Html.DisplayNameFor(model => model.Value)
    @Html.DisplayFor(model => model.Value)
</div>

@foreach (var test in Model.TaskTests)
{
    <div class="row">
        <div class="col-sm-6">
            <code >
                @test.Input
            </code>
        </div>
        <div class="col-sm-6">
            <code>
                @test.Output
            </code>
        </div>
    </div>
}