@model Coder.Models.Entity.Submission

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Submission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Project
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectTask.Project.Name)
        </dd>

        <dt>
            Task
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectTask.Name)
        </dd>
    </dl>
    <p>Users: </p>
    <ul>
        @foreach (var user in Model.ApplicationUsers)
        {
            <li>@user.Name</li>
        }
    </ul>

    <div id="tests">
        @{ int counter = 1; }
        @foreach (var test in Model.SubmissionTestResults)
        {
            var status = (Coder.Models.Entity.TestResultStatus)test.Status;
            var statusClass = (Coder.Models.Entity.TestResultStatus)test.Status == Coder.Models.Entity.TestResultStatus.Accepted ? "accepted" : "rejected";
            <div class="test clearfix @statusClass">
                <h3>Test @counter</h3>
                <p>Status: @status</p>
                <div class="input-wrap">
                    <p>Input</p>
                    <div class="editor input readonly">@test.Input</div>
                </div>

                <div class="tests-wrap row">
                    <div class="output-wrap col-sm-6">
                        <p>Obtained Output</p>
                        <div class="editor output readonly">@test.ObtainedOutput</div>
                    </div>
                    <div class="output-wrap col-sm-6">
                        <p>Expected Output</p>
                        <div class="editor output readonly">@test.Output</div>
                    </div>
                </div>
            </div>

            counter = counter + 1;
        }
    </div>
</div>

@section Scripts {
    
    @Scripts.Render("~/scripts/ace/ace.js")
}
