@model IEnumerable<Coder.Models.Entity.Submission>

@{
    ViewBag.Title = "Submissions";
}

<h2>Submissions</h2>
<div class="whiteBox">
    <table class="order-column stripe coder-table coder-datatable" id="submissionTable">

        <thead>
            <tr>
                <th>ID</th>
                <th>Task</th>
                <th>Submitted</th>
                <th>Project</th>
                <th>Course</th>
                <th>Status</th>
                @if (User.IsInRole("Administrator") || ViewBag.IsTeacher)
            {
                    <th>Users</th>
                    <th>Action</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Id.ToString(), "Details", "Submissions", new { id = item.Id }, null)</td>
                    <td>@Html.ActionLink(item.ProjectTask.Name, "Details", "ProjectTasks", new { id = item.ProjectTaskId }, null)</td>
                    <td>@Html.DisplayFor(modelItem => item.Created)</td>
                    <td>@Html.ActionLink(item.ProjectTask.Project.Name, "Details", "Projects", new { id = item.ProjectTask.ProjectId }, null)</td>
                    <td>@Html.ActionLink(item.ProjectTask.Project.Course.Name, "Details", "Courses", new { id = item.ProjectTask.Project.CourseId }, null)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    @if (User.IsInRole("Administrator") || ViewBag.IsTeacher)
                    {
                        <td data-toggle="modal" data-id="@item.Id" data-target="#bs-example-modal-sm_@item.Id"><p class="btn btn-primary users-button">@item.ApplicationUsers.Count</p></td>
                        <td><a href=@Url.Action("Delete", "Submissions", new { id = item.Id })><i class="fa fa-pencil"></i></a></td>
                    }
            </tr>
        }
    </tbody>
</table>

@foreach (var item in Model)
{
    <div class="modal fade" id="bs-example-modal-sm_@item.Id" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Users in this submission</h4>
                </div>
                <div class="modal-body">
                    <table class="coder-table submissions-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in item.ApplicationUsers)
                            {
                                <tr>
                                    <td>@user.Name</td>
                                    <td>@user.Email</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                </div>
        </div>
    </div>
}
</div>
