@model IEnumerable<Coder.Models.Entity.Submission>

@{
    ViewBag.Title = "Submissions";
}

<h1>Submissions</h1>
<div class="whiteBox" id="submissionList">
    <table class="coder-table" id="submissionTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Task</th>
                <th>Submitted</th>
                <th>Project</th>
                <th>Course</th>
                <th>Status</th>
                @if (User.IsInRole("Administrator") || ViewBag.IsTeacher)
            {
                    <th>Users</th>
                    <th>Action</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectTask.Name)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                <td>@Html.DisplayFor(modelItem => item.ProjectTask.Project.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ProjectTask.Project.Course.Name)</td>
                <td> @Html.DisplayFor(modelItem => item.Status)</td>
                @if (User.IsInRole("Administrator") || ViewBag.IsTeacher)
                {
                    <td><a href="#">@Html.DisplayFor(modelItem => item.ApplicationUsers.Count)</a></td>
                    <td><a href=@Url.Action("Delete", "Submissions", new { id = item.Id })><i class="fa fa-pencil"></i></a></td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
