@model Coder.Models.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section heading {
    <h1>Dashboard</h1>
    <a class="btn btn-default btn-changeview" href=@Url.Action("Boxes", "Home")><i class="fa fa-list"></i>Boxes view</a>
}

<div class="dashboard">
    <div class="title-box">
        <div class="title-box-title">
            <h2>Projects</h2>
        </div>
        <div class="row">
            <div class="title-box-content col-md-4 projects-dashboard-list">
                <div class="project-dashboard-subtitle">Ongoing projects</div>
                @if (Model.OngoingProjects.Count == 0)
                {
                    <h2 class="alert alert-info">You have no ongoing projects.</h2>
                }
                else
                {
                    foreach (var item in Model.OngoingProjects)
                    {
                        <div class="project-box">
                            <a href="@Url.Action("Details", "Projects", new { id=item.Id })">
                                <div>
                                    <h4>@item.Name</h4>
                                    <div class="course-title">@item.Course.Title</div>
                                    <div class="course-date">Closes: @item.End.ToString("dddd, d MMM") &nbsp;'@item.End.ToString("yy")</div>
                                    <div class="course-date-clock"><i class="fa fa-clock-o"></i>@item.End.ToString("HH:mm")</div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="title-box-content col-md-4 projects-dashboard-list">
                <div class="project-dashboard-subtitle">Upcoming projects</div>
                @if (Model.UpcomingProjects.Count == 0)
                {
                    <div class="alert alert-info">You have no upcoming projects.</div>
                }
                else
                {
                    foreach (var item in Model.UpcomingProjects)
                    {
                        <div class="project-box">
                            <a href="@Url.Action("Details", "Projects", new { id=item.Id })">
                                <div>
                                    <h4>@item.Name</h4>
                                    <div class="course-title">@item.Course.Title</div>
                                    <div class="course-date">Opens: @item.Start.ToString("dddd, d MMM") &nbsp;'@item.Start.ToString("yy")</div>
                                    <div class="course-date-clock"><i class="fa fa-clock-o"></i>@item.Start.ToString("HH:mm")</div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="title-box-content col-md-4 projects-dashboard-list">
                <div class="project-dashboard-subtitle">Expired projects</div>
                @if (Model.ExpiredProjects.Count == 0)
                {
                    <div class="alert alert-info">You have no expired projects.</div>
                }
                else
                {
                    foreach (var item in Model.ExpiredProjects)
                    {
                        <div class="project-box">
                            <a href="@Url.Action("Details", "Projects", new { id=item.Id })">
                                <div>
                                    <h4>@item.Name</h4>
                                    <div class="course-title">@item.Course.Title</div>
                                    <div class="course-date">Closed: @item.End.ToString("dddd, d MMM") &nbsp;'@item.End.ToString("yy")</div>
                                    <div class="course-date-clock"><i class="fa fa-clock-o"></i>@item.End.ToString("HH:mm")</div>
                                    <div class="course-grade"><i class="fa fa-star"></i>100</div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <div class="title-box">
        <div class="title-box-title">
            <h3>Recent submissions</h3>
        </div>
        <div class="title-box-content">
            <table class="recentSubs table coder-table">
                <thead>
                    <tr>
                        <th>Submission</th>
                        <th>Task</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var submission in Model.Submissions.Take(6))
                    {
                        <tr>
                            <td>@Html.ActionLink(submission.Id.ToString(), "Details", "Submissions", new { id = submission.Id }, null)</td>
                            <td>@Html.ActionLink(submission.ProjectTask.Name, "Details", "ProjectTasks", new { id = submission.ProjectTaskId }, null)</td>
                            <td>@submission.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
