@{
    ViewBag.Title = "Dashboard";
}

@model Coder.Models.ViewModels.DashboardViewModel

<div class="allOfIt row">
    <div class="allProjects col-md-8 row">

        @foreach (var item in Model.Projects)
        {
            if (item.Value < 50)
            {
                ViewBag.color = "red";
            }
            else if (item.Value >= 50 && item.Value < 100)
            {
                ViewBag.color = "orange";
            }
            else if (item.Value == 100)
            {
                ViewBag.color = "green";
            }

            if (@item.End < DateTime.Now)
            {
                ViewBag.ActiveProject = "oldBox";
            }

            //The percentage of circle colored.
            ViewBag.pvalue = "p" + @item.Value;

            //This is used to pass endDate data for countdown.
            <input class="TimeLeft" type="hidden" value="@item.End.ToString("MM.dd.yy H:mm:ss")" id="@item.Id" />

            <div class="col-md-4">
                <a href="@Url.Action("Details", "Projects", new { id=item.Id })">
                    <div class="projectBox @ViewBag.ActiveProject">
                        <p class="name">@item.Name</p>
                        <span class="course">@item.Course.Title</span>

                        <div class="proContainer">
                            <div class="c100 center @ViewBag.pvalue small @ViewBag.color">
                                <span id="proText">@item.Value%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                        <p id="endDate">
                            @item.End.ToString("ddd d MMM") &nbsp;'@item.End.ToString("yy")<br>
                            @item.End.ToString("HH:mm")
                    </p>
                </div>
            </a>
        </div>
        }
    </div>

    <div class="col-md-4 projectBox">
        <table class="table sidecoder-table">
            <caption>Previous projects</caption>
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Course</th>
                    <th>Grade</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Proj1</td>
                    <td>T107-GSKI</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Proj2</td>
                    <td>T107-GSKI</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Proj3</td>
                    <td>T107-GSKI</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Proj4</td>
                    <td>T107-GSKI</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Proj5</td>
                    <td>T107-GSKI</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Proj6</td>
                    <td>T107-GSKI</td>
                    <td>9</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4 projectBox">
        <table class="recentSubs table sidecoder-table">
            <caption>Recent submissions</caption>
            <thead>
                <tr>
                    <th>Submission</th>
                    <th>Task</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>#1</td>
                    <td>b</td>
                    <td>Accepted</td>
                </tr>
                <tr>
                    <td>#2</td>
                    <td>c</td>
                    <td>Accepted</td>
                </tr>
                <tr>
                    <td>#3</td>
                    <td>a</td>
                    <td>Accepted</td>
                </tr>
                <tr>
                    <td>#4</td>
                    <td>a</td>
                    <td>Memory Error</td>
                </tr>
                <tr>
                    <td>#21</td>
                    <td>d</td>
                    <td>Memory Error</td>
                </tr>
                <tr>
                    <td>#38</td>
                    <td>c</td>
                    <td>Compile Error</td>
                </tr>
                <tr>
                    <td>#465</td>
                    <td>a</td>
                    <td>Accepted</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<p>Courses: @Model.Courses.Count()</p>
<p>Projects: @Model.Projects.Count()</p>
<p>Users: @Model.Users.Count()</p>

@section Scripts {
    @*When we have done everything for dis view we should make bundle for dem script files!*@
    <script src="~/Scripts/flipclock.min.js"></script>
    <script src="~/Scripts/CountDown.js"></script>
}