@{
    ViewBag.Title = "Dashboard";
    string color = "";
    string activeProject = "";
}

@model Coder.Models.ViewModels.DashboardViewModel

<div class="allOfIt row">
    <div class="allProjects col-md-8 row">

        @if (Model.Projects.Count == 0)
        {
            <h1>No active/upcoming projects to show.</h1>
        }
        else
        {
            foreach (var item in Model.Projects)
            {
                activeProject = "";
                color = "";
                if (item.Value < 50)
                {
                    color = "red";
                }
                else if (item.Value >= 50 && item.Value < 100)
                {
                    color = "orange";
                }
                else if (item.Value == 100)
                {
                    color = "green";
                }

                if (@item.Start > DateTime.Now)
                {
                    activeProject = "oldBox";
                }

                //The percentage of circle colored.
                string pvalue = "p" + @item.Value;

                <div class="col-md-4">
                    <a href="@Url.Action("Details", "Projects", new { id=item.Id })">
                        <div class="projectBox @activeProject">
                            <p class="name">@item.Name</p>
                            <span class="course">@item.Course.Title</span>

                            <div class="proContainer">
                                <div class="c100 center @pvalue small @color">
                                    <span id="proText">@item.Value%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <p id="endDate">
                                @item.End.ToString("dddd, d MMM") &nbsp;'@item.End.ToString("yy")<br>
                                @item.End.ToString("HH:mm")
                            </p>
                        </div>
                    </a>
                </div>
            }
        }
    </div>

    <div class="col-md-4 projectBox right">
        <table class="table coder-table">
            <caption>Previous projects</caption>    
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Course</th>
                    <th>Grade</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var x in Model.Projects.Take(6))
                {

                    <tr>
                        <td>@x.Name</td>
                        <td>@x.Course.Name</td>
                        <td>10</td>
                    </tr>
                }               
            </tbody>
        </table>
    </div>

    <div class="col-md-4 projectBox right">
        <table class="recentSubs table coder-table">
            <caption>Recent submissions</caption>
            <thead>
                <tr>
                    <th>Submission</th>
                    <th>Task</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var submission in Model.Submissions.Take(6))
                {
                    <tr>
                        <td>@Html.ActionLink(submission.Id.ToString(), "Details", "Submissions", new { id = submission.Id }, null)</td>
                        <td>@Html.ActionLink(submission.ProjectTask.Name, "Details", "ProjectTasks", new { id = submission.ProjectTaskId }, null)</td>
                        <td>@submission.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
