@model IEnumerable<CoderUi.DummyModels.CoursesAndAssignments>
@{
    ViewBag.Title = "ActiveCourses";
    var counter = 1;
}

<h2>Active Courses</h2>

 

<div class="col-md-12">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <h2>@Html.ActionLink(@item.CourseName, "CourseDetail/" + @counter, "Home") </h2>
            <p>@item.Description</p>
        </div>

        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><h3>Project</h3></th>
                        <th><h3>StartDate</h3></th>
                        <th><h3>EndDate</h3></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in item.assignments)
                    {
                        <tr>
                            <td><h5>@x.name</h5></td>
                            <td><h5>@x.start</h5></td>
                            <td><h5>@x.end</h5></td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

        <hr />

        counter++;
    }
</div>