@model IEnumerable<CoderUi.Assignment>
@{
    ViewBag.Title = "Home Page"; 
}

    <div class="main">
        <div class="row theBoxes">
            @foreach (var item in Model)
            {
                <div class="projectBox ">
                    <p class="name">@item.name</p>
                    <p class="course">@item.courseName</p>
                    <p class="status">@item.status</p>
                    <div class="progress col-lg-10">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            60%
                        </div>
                    </div><p class="value">Value: @item.value %</p>
                    <p class="date col-lg-6 start">Start: @item.start</p>
                    <p class="date col-lg-6 end">End: @item.end</p>
                </div>
            }
        <div/>
    </div>